ul {
    list-style-type: none;
}

.input-form li {
    margin: 5px 0px;
}

.navbar-header {
    width: 180px;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f9f9f9;
}

.navbar-inverse {
    background: #46473F;
}

input[type=file] {
    display: inline !important;

}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.img {
    height: 40px;
    width: 40px;
}

.t {
    width: 100px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

/**********************************************/

table,thead,th,td{
    background: rgb(101, 199, 238);
    color: #fff;
}